header {
    width: 100%;
    height: 10%;
}

nav {
    position: relative;
    top: 0px;
    left 0px;
    z-index: 0;
    width: 100%;
    height: 10%;
}

.accountlinks {
    display: flex;
    justify-content: flex-end;
}

.accountlinks > .acntlink {
    margin-top: 10px;
    margin-right: 15px;
}

.maincontent {
    position: absolute;
    top: 40%;
    left: 40%;
}

footer{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 2%
}

.bottominfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
}

.infolink {
    margin: 7px;
}